body{
  background: linear-gradient(rgb(238, 114, 12),rgb(247, 245, 245));
  color: rgb(247, 245, 243);
}
main {
  text-align: center;
  font-weight: bold;
}
h1 {
  text-align: center;
  font-size: 100px;
  text-shadow: 2px 2px 2px rgb(238, 12, 31);
}
section{
  background-color: rgb(27, 26, 26);
  margin-left: 22%;
  margin-right: 22%;
  text-align: center;
  width: 50%;
  padding: 2%;
  margin-bottom: 5%;
  border-radius: 5%;

  
}
input {
  border: 0px solid;
  height: 5vh;
  text-align: center;
  font-weight: bold;
  font-size: large;
  margin: 2%;
}

#input2{
  color: dimgray;
  margin-bottom:-10px;
}
.signs .Numbers .Arithmetic {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* padding: 3vh; */
  justify-content: space-around;
}
.BtnNumber {
  background-color: coral;
  margin: 1%;
  width: 27%;
  height: 7vh;
  font-weight: bold;
  font-size: large;
}
.BtnArithmetic {
  margin: 1%;
  width: 19%;
  height: 7vh;
  font-weight: bold;
  font-size: large;
}
#point,
#C {
  /* margin: 1%; */
  /* width: 30%;
  height: 7vh; */
  font-weight: bold;
  font-size: large;
}
#Equal {
  width: 87%;
  height: 10vh;
  font-weight: bold;
  font-size: large;
  background-color: burlywood;
  
}
.BtnArithmetic{
  background-color: burlywood;
}